option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: WebApi_WorkerPlatform.settings
    RDS_HOSTNAME: 127.0.0.1
    RDS_USERNAME: postgres
    RDS_PASSWORD: init1234
    DJANGO_SUPERUSER_USERNAME: admin
    DJANGO_SUPERUSER_PASSWORD: Aa123456
    DJANGO_SUPERUSER_EMAIL: admin@admin.com
    ENV_NAME: PROD
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
